/* all to server as a background and can layer html elemnts over it */

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(255, 255, 255, 0.65) ;
  --spacing: 200px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: black;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: Courier New;
  font-weight: lighter;
  font-style: normal;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}

img {
  width: 10%;
  float: right;
}

  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  .pufferFish {
    grid-column: 7 / span 5;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    text-align: center;
  }

  .jellyfish{
    grid-column: 5 / span 7;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    text-align: center;
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 10;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    opacity: 0.65;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  #note {
    font-size: 10px;
  }

.exploreBTN{ 
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: turquoise;
    border-color: white;
    color: navy;
  
  }